1. ** What is 7 to the power of 4?**

In [1]:
7**4

2401

2. ** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [2]:
s= "Hi there Yogesh!"

In [3]:
s.split()

['Hi', 'there', 'Yogesh!']

3. ** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [4]:
planet= "Earth"
diameter = 12742

In [5]:
'The diameter of {} is {} kilometers'.format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

4. ** Given this nested list, use indexing to grab the word "hello" **

In [6]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst[3][1][2][0]

'hello'

5. ** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [11]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

6. ** What is the main difference between a tuple and a list? **

In [12]:
## List is mutable and tuple is immutable

7. ** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [13]:
def return_domain(email):
    return email.split('@')[-1]

In [14]:
return_domain('vaibhavchandekar106@gmail.com')

'gmail.com'

8. ** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [17]:
def find_dog(s):
    return 'dog' in s.lower().split()

In [20]:
find_dog('Is there a dog here?')

True

9. ** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [23]:
def fun2(s):
    c=0
    for v in s.lower().split():
        if v=='dog':
            c=c+1
    return c

In [24]:
fun2("this Dog that DOG dog DoG")

4

10. ** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [25]:
seq = ['soup','dog','salad','cat','great']

In [26]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [27]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

11. **You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. **

In [28]:
def get_ticket_result(speed, is_birthday):
    if is_birthday:
        speed -= 5  # Adjust speed limit by 5 mph if it's your birthday

    if speed <= 60:
        return "No Ticket"
    elif 61 <= speed <= 80:
        return "Small Ticket"
    else:
        return "Big Ticket"

In [30]:
get_ticket_result(81,True)

'Small Ticket'

In [31]:
get_ticket_result(81,False)

'Big Ticket'

12. Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [32]:
s=input("Enter the input:")
num=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    num=num+s[0]
for c in s:
    if c in str(data):
        num=num+c
print(num)

Enter the input:-123abcd
-123

13 WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [33]:
n1=input("Enter the NUmber:")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    n3=str(int(n3)+int(n3[::-1]))
    print("Number is :",n3)
    print("Revrse is :",n3[::-1])
print("palindrome is :",n3)

Enter the NUmber:88
Number is : 847
Revrse is : 748
Number is : 1595
Revrse is : 5951
Number is : 7546
Revrse is : 6457
Number is : 14003
Revrse is : 30041
Number is : 44044
Revrse is : 44044
palindrome is : 44044

14. Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [34]:
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [35]:
fun1()

75313